
# docker env
.env

# docker-generated dirs
out
mean_enterprise_starter_db

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# IDE
.idea
.idea/workspace.xml
