[submodule "mean_enterprise_starter_client"]
	path = mean_enterprise_starter_client
	url = https://github.com/dav793/mean_enterprise_starter_client.git
[submodule "mean_enterprise_starter_server"]
	path = mean_enterprise_starter_server
	url = https://github.com/dav793/mean_enterprise_starter_server.git
